body{
    
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.container{
    background: url(../img/fon.jpg);
    width: 1500px;
    font-family: Osward;
    margin: 0 auto;
}
}
.header{
    padding-top: 0px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 2px;
} 
.cart{
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    display: flex;
    color:black; 
}

.buttons {
    font-size: 20px;
    color:rgb(0, 1, 8);
    display: inline-block;
    display: flex;
    position: relative;
    text-decoration: none;
}

.buttons:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00baff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.buttons:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
