/*Main*/
*{
    box-sizing: border-box;
}

body{
    font-family: serif;
    margin: 0;
}

main{
    display: flex;
}


.header{
    border-right: 2px solid black;
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;  
    position: fixed;
}

/*header top section*/

.header__top{
    width: 81px;
}

.logo{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.header__nav__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.header__list-item{
    width: 60%;
}

.header__list-item:not(:last-child){
    margin-bottom: 10px;
    
}
.header__list__item-link{
    transition: color .2s ease-in-out, transform .2s ease-in-out;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    
    
}
.header__list__item-link:hover{
    color: #770bba;
    transform: scale(1.1);
    
}

.header__bottom{
    margin-top: 100px;
    padding-bottom: 150px;
    width: 150px;
}

/*languages*/
.language{
    margin-bottom: 20px;
}

.lang__button {
    text-decoration: none;
    color: black;
    padding: 2px;
    transition: all .3s ease-in-out;
}

.lang__button:hover {
    background-color: gray;
    color: white;
}

.active {
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 2px;
}

/*header bottom section*/


.bottom__info-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.bottom__info-list__items:not(:last-child):not(:nth-child(4)){
    margin-bottom: 5px;
    
}


.bottom__info-contacts{
    text-decoration: none;
    color: black;
    font-weight: bold; 
}

.bottom__info-contacts:hover{
    color: #770bba;
}


