body{

    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.container{
    background: url(../img/fon.jpg);
    width: 1500px;
    font-family: Osward;
    margin: 0 auto;
}


    




} 
.cart{
    width: 25px;
    height: 25px;
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    display: flex;
    color:black; 
}

.buttons {
    font-size: 15px;
    color:rgb(0, 1, 8);
    display: inline-block;
    display: flex;
    position: relative;
    text-decoration: none;
    
}


.buttons:hover{
    color: #ce23ce;
    font-weight: bolder;
}


    
}
.pade__sidebar__background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f5f6;
    
}
.page__sidebar__wrap{
    position: relative;
    display: -webkit-box;
    display: flex;
    height: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 72px 32px 64px 56px;
    z-index: 1
}
.content{
    padding-bottom: 16px;
    
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.page__sidebar{
    display: block;
    width: 240px;
    min-width: 240px;
    border-right: 5px solid black;
    position: relative;
}
nav{
    flex-direction: column;
    display: flex;
    width: 90px;
    
}
